:root {
  --primary-color: rgb(123, 171, 123);
  --secondary-color: rgb(119, 147, 203);
  --page-header-background-color: rgb(76, 136, 160);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #727373;
}

/* Styling the header */
.page-header {
  background-color: var(--page-header-background-color);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* styling the logo */
.logo {
  max-width: fit-content;
}

/* styling the main section of my page */
.headline {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.main-content {
  width: auto;
}

/* Styling for button */
.button-class {
  background: linear-gradient(
    to right,
    rgb(181, 224, 181) 0%,
    rgb(139, 199, 139) 50%,
    rgb(110, 169, 211) 0%,
    rgb(119, 147, 203) 50%
  );
  color: #fbfffb;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  height: 150px;
  border: 3px solid #fbfffb;
  border-bottom: #767676;
}

main {
  padding: 10px;
  width: 100%;
  min-width: 250px;
  /* background-color: darkorange; */
}

/* Styling about page */
.about-pokemon {
  text-align: center;
}

.content {
  font-size: 25px;
  margin-left: 0px;
  margin-right: 50px;
}

/* styling for pokemon list */
.pokemon-list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  min-width: 250px;
  width: auto;
  height: auto;
  margin: 10px;
  list-style-type: none;
}

.modal-body {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgb(246, 243, 243);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-body p {
  margin-bottom: 0;
  font-size: 20px;
}

.modal-body img {
  width: 200px;
  height: 200px;
}

.headline h1 {
  color: #f8f9fa;
}
