:root {
  --primary-color: skyblue;
  --page-header-background-color: rgb(164, 104, 219);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
}
/* Styling the header */
.page-header {
  background-color: var(--page-header-background-color);
  /* max-width: max-content; */
  height: 100px;
  display: flex;
}
/* styling the logo */
.logo {
  max-width: fit-content;
  /* width: 170px; */
}
/* styling the main section of my page */
.headline {
  font-size: 20px;
  font-weight: 500;
  max-width: 950px;
  text-align: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid green; */
}

/* Styling for button */
.button-class {
  background-color: green;
  border: none;
  color: white;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

/* styling for pokemon list */
.pokemon-list {
  padding: 0;
  /* max-width: 750px; */
  display: flex;
  list-style: none;
  /* width: max-content; */
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  page-header {
    max-width: max-content;
  }
  headline {
    text-align: center;
  }
  button-class {
    font-size: 10px;
  }
}
